@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Avaible Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-journal-plus"></i> &nbsp; Add new Product
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table id="productTable" class="table table-bordered table-hover">
                <thead>
                    <tr class="table-info">
                        <th>Title</th>
                        <th>ISBN</th>
                        <th>List Price</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Cover Type</th>
                        <th>Author</th>
                        <th></th>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}