@model Category
@{
    ViewData["Title"] = Model.Id != 0 ? "Category Editing: " + Model.Name : "New Category";
}

<div class="card shadow border-0 my-4 col-7 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">@(Model.Id != 0 ? "Editing" : "Adding") Category</h3>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Upsert" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="border p-3 mt-4 row">
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="Name" class="form-control border-0 shadow" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-center">
                            @if (Model.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success" style="width:150px">Create</button>
                            }
                            <a asp-controller="Category" asp-action="Index" class="btn btn-danger" style="width:150px">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}