@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Avaible Cover Type</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-controller="CoverType" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-journal-plus"></i> &nbsp; Add new Cover Type
                </a>
            </div>
            <div class="table-responsive" style="width:60%;margin:auto">
                <table id="coverTypeTable" class="table table-bordered table-hover">
                    <thead>
                        <tr class="table-info">
                            <th>Name</th>
                            <th></th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/covertype.js"></script>
}