<div class="card shadow border-0 my-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-1 text-uppercase"> something went wrong. </h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="border p-3 mt-4 row">
                    <div class="col-12 text-center">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-danger mb-0"> Go back </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>