@model InputModelforLogin
@{
    ViewData["Title"] = "Login";
}

<div class="card shadow border-0 my-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-1">@ViewData["Title"]</h1>
                <h6 class="text-white">Welcome back!</h6>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="loginForm" asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="border p-3 mt-4 row">
                         <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input type="email" asp-for="Email" class="form-control border-0 shadow" autocomplete="username" aria-required="true" />
                            <label asp-for="Email" class="ms-2">Email *</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="Password" class="form-control border-0 shadow" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Password" class="ms-2">Password *</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-center">
                            <button id="loginSubmit" type="submit" class="w-75 btn btn-lg btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}