@model InputProfile
@{
    ViewData["Title"] = "Profile";
}

<div class="card shadow border-0 my-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-1">@ViewData["Title"] Settings</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form id="profileForm" asp-action="Profile" method="post">
            <input asp-for="Email" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="border p-3 mt-4 row">
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="FirstName" class="form-control border-0 shadow" aria-required="true" />
                            <label asp-for="FirstName" class="ms-2">First Name *</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="LastName" class="form-control border-0 shadow" aria-required="true" />
                            <label asp-for="LastName" class="ms-2">Last Name *</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input type="tel" id="PhoneNumber" asp-for="PhoneNumber" class="form-control border-0 shadow" title="+380" />
                            <label asp-for="PhoneNumber" class="ms-2">Phone Number *</label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="City" class="form-control border-0 shadow" aria-required="true" />
                            <label asp-for="City" class="ms-2">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 md-4 col-12 mb-4">
                            <input asp-for="BranchOffice" class="form-control border-0 shadow"  aria-required="true" />
                            <label asp-for="BranchOffice" class="ms-2">BranchOffice</label>
                            <span asp-validation-for="BranchOffice" class="text-danger"></span>
                        </div>
                        
                        <div class="col-12 text-center">
                            <button id="updateProfileSubmit" type="submit" class="w-75 btn btn-lg btn-primary">Update Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}