<div class="card shadow border-0 my-4 col-6 mx-auto">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white py-1"> Thank you for registering! </h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="border p-3 mt-4 row">
                    <div class="form-floating py-2 md-4 col-12 mb-4">
                        We are excited to have you join our community of shoppers. As an online marketplace, we offer a wide variety of products that are sure to meet your needs. Our platform is easy to navigate, and our checkout process is quick and secure. 
                        <br />Plus, with our competitive prices and frequent discounts, you can shop with confidence knowing that you are getting the best value for your money.  <br />Start browsing now and discover the convenience of online shopping!
                    </div>
                    <div class="col-12 text-center">
                       <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-danger mb-0"> Go Shoppping </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>