@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-black text-primary">Avaible Cover Type</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="CoverType" asp-action="Upsert" class="btn btn-primary">
               <i class="bi bi-journal-plus"></i> &nbsp; Add new Cover Type
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-hover" style="width:40%;margin:auto">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th></th>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr width>
                    <td width="30%">@obj.Name</td>
                    <td width="10%">
                        <div class="btn-qroup text-center" role="group">
                            <a asp-controller="CoverType" asp-action="Upsert" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a>
                            &nbsp;
                            <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id" class="delete"><i class="bi bi-trash3-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>